body {
background-color: #ffffff;
}

.tweet {
  width: 40%;
  background-color: #fafafa;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  overflow: hidden;
}

hr {
  height: 1px;
  border-top: aliceblue;
  margin-top: 10px;
  margin-bottom: 10px;
}

img {
  float: left;
  width: 11%;
  padding: 10px;
  padding-top: 5px;
}

.message {
  width: 70%;
  padding-top: 5px;
  padding-bottom: 35px;
  display: inline-block;
}

.message h4 {
  color: #19171d;
  display: block;
  margin: 0;
}

.message p {
  margin: 0;
}

p1 {
color: #818182;
font-weight: : bold;
}

.date {
  color: #d2d3d5;
  display: inline-block;;
  float: right;
  text-align: right;
  vertical-align: top;
  padding-top: 5px;
  padding-right: 10px;
}

.date h5 {
  margin: 0;
}
